{% extends current_base %}{% load categories staticfiles thumbnails pagination %}{% load url from future %}

{% block content %}

        <div class="page__content">
            <!-- breadcrumbs -->
            <div class="breadcrumbs">
                <div class="breadcrumbs__inner">
                    <a href="/">Главная</a>
                    <span class="active">Поиск вузов</span>
                </div>
            </div>
            <!-- /breadcrumbs -->
            <div class="section section--fogue">
                <div class="section__inner">
                    <div class="section__title">Поиск вузов</div>
                    {% if objects_list|length %}
                        {% for doc in objects_list %}
                            <div class="section__subtitle">Список найденных вузов</div>
                            <!-- list of univers -->
                            <div class="unirow">
                                <ul class="unirow__list">
                                    <li class="unirow__item">
                                        <div class="unirow__pic"><img src="{% thumb2 doc.preview '90x90' format="PNG" quality="100" upscale=False %}" alt="{{ doc.title }}"></div>
                                        <div class="unirow__info">
                                            <div class="unirow__name"><p>{{ doc.title }}</p></div>
                                            <div class="unirow__location">{{ doc.labels.0 }}</div>
                                            <a href="/info--univer/?title={{ doc.title }}" class="unirow__btn">На страницу вуза</a>
                                        </div>
                                    </li>
                                </ul>
                                {% if paginator and paginator.object_list and paginator.num_pages > 1 %}
                                    <div class="b-more">
                                        <a class="unirow__more" data-href="{% if paginator.current_page.has_next %}{{ base_url }}?page={{ paginator.current_page.next_page_number }}{% else %}end{% endif %}">Показать еще ВУЗы</a>
                                    </div>
                                {% endif %}
                            </div>
                            <!-- /list of univers -->
                        {% endfor %}
                    {% else %}
                        <div class="section__subtitle">Не удалось найти ни одного вуза по ключевому слову "{{ request.GET.q }}"</div>
                    {% endif %}
                </div>
            </div>
        </div>

{% endblock %}
