{% if perms.presscenter %}{% load url from future %}

{% with perms.profile as pm %}
<li class="dark-nav{% if "/admin/categories" in request.path %} active{% endif %}">
  <span class="glow"></span>
  <a class="accordion-toggle collapsed" data-toggle="collapse" href="#categories">
    <i class="icon-folder-open-alt icon-2x"></i>
    <span>{% trans "Categories" %}
      <i class="icon-caret-down"></i>
    </span>
  </a>

  <ul id="categories" class="collapse {% if "/admin/categories" in request.path %} in{% endif %}">
    <li>
      <a href="{% url 'categories:admin:create' %}">
        <i class="icon-plus-sign-alt"></i> {% trans "Create category" %}
      </a>
    </li>
    <li>
      <a href="{% url 'categories:admin:index' %}">
        <i class="icon-list-alt"></i> {% trans "All categories" %}
      </a>
    </li>    
  </ul>
</li>
{% endwith %}
{% endif %}
